* {
  padding: 0 0;
  margin: 0 0;
  box-sizing: border-box;
}

#nav {
  height:8vh;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.search-box {
  display: flex;
  align-items: center;
  background: #1F1F1F;
  border: 1px solid #fff;
  padding: 6px 10px;
  border-radius: 25px;
  width: 250px;
}

.search-box input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 14px;
}

.search-box img {
  width: 16px;
  opacity: 0.6;
}

#container {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr; 
  gap: 10px;
}

.box {
  text-align: center;
  height: 92vh;
  width: 100%;
}

#songs {
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr ; 
  gap: 5px;
}

.song {
  background-color: green;
}